body {
  min-height: 100vh;
    overflow-y:auto;
}

.not-found {
  min-height: 50vh;
  display: grid;
  align-items: center;
}

.not-found div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.not-found h1 {
  font-weight: 800;
}

.not-found h3 {
  color: #222;
  font-weight: 600;
  margin-bottom: 2rem;
}
